<!-- <p id="notice"><%= notice %></p> -->

<div class='day-of-week'>
  <p><%= Time.now.strftime('%A') %></p>
  <p><%= Time.now.strftime('%l:%M %P') %></p>
  <p><%= Time.now.strftime('%e %B %Y') %></p>
</div>

<div class='message'>
  <ul>
    <% @board.message.each_line do |line| %>
      <li><%= line %></li>
    <% end %>
  </ul>
</div>

<!--
<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
-->
